.flex-ContainerNyhederSPlash {
    display: flex;
    width: 100%;
    height: 80vh;

    position: relative;

    .NyhederSplash {
        width: 100%;
        height: 100%;
        background-image: url(../img/fodbold/nyhederSplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 90px;
            font-weight: 800;
            color: $primary-white;
            z-index: 2;
            margin: 22vh 0px;
        }
    }

    .SplashOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58)
    }

    .btnArrowDown {
        z-index: 2;
        width: 48px;
        height: 48px;
        cursor: pointer;
    }
}


.flex-ContainerIndhold {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;

    h2 {
        font-size: 48px;
        margin: 0px 0px 40px 1%;
        max-width: 1024px;
        width: 80vw;
    }

    .ContainerIndhold {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        max-width: 1024px;
        width: 80vw;

        .BoksContainer {
            display: flex;
            flex-direction: column;
            width: 31%;
            margin: 0px 1% 30px;

            .ImgContainer {
                width: 100%;
                height: 250px;
                background-repeat: no-repeat;
                object-fit: cover;
            }

            .IndholdFokus {
                background: radial-gradient(circle, $primary-blue, $secondaryGradient-blue) !important;
            }

            .TekstContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: grey;

                p {
                    font-size: 22px;
                    color: $primary-white;
                    margin: 20px 0px;
                    padding: 0px 10px
                }
            }




        }
    }
}

@media screen and (max-width:1025px) {
    .flex-ContainerIndhold .ContainerIndhold .BoksContainer {
        width: 48%;
    }
}

@media screen and (max-width:501px) {
    .flex-ContainerNyhederSPlash .NyhederSplash h1 {
        font-size: 50px;
    }

    .flex-ContainerIndhold {
        margin-top: 100px;
        margin-bottom: 50px;

        h2 {
            font-size: 40px;
            margin: 0px 0px 40px 1%;
            width: 90vw;
        }

        .ContainerIndhold {

            max-width: 1024px;
            width: 90vw;

            .BoksContainer {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 0px 1% 30px;

                .ImgContainer {
                    width: 30%;
                    height: 120px;
                    background-repeat: no-repeat;
                    object-fit: cover;
                }


                .TekstContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    background-color: grey;

                    p {
                        font-size: 18px;
                        color: $primary-white;
                        margin: 20px 0px;
                        padding: 0px 10px
                    }
                }




            }
        }
    }
}

.VisNyhed {
    display: flex !important;
}

.flex-ContainerUddybetIndhold {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    .ContainerUddybetIndhold {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ContainerBoksUddybetIndhold {
            display: none;
            flex-direction: column;
            max-width: 700px;
            width: 80vw;

            .ImgUddybetContainer {
                width: 100%;
                height: 250px;
                background-repeat: no-repeat;
                object-fit: cover;
            }

            h2 {
                font-size: 24px;
                font-weight: 800;
                margin: 15px 0px 5px;
            }

            .BoldTekst {
                font-weight: 600;
            }

            p {
                font-size: 18px;
                margin: 5px 0px;
            }

            a {
                color: $primary-blue;
            }

            h3 {
                font-size: 20px;
                margin: 5px 0px;
                font-weight: 800;
            }

            ul {
                margin: 5px 0px;
                li {
                    font-size: 18px;
                    margin: 5px 0px;
                }
            }
        }
    }
}

@media screen and (max-width:501px) {
    .flex-ContainerUddybetIndhold .ContainerUddybetIndhold .ContainerBoksUddybetIndhold {
        width: 90vw;
    }
}
