.flex-ContainerTraeningstiderSPlash {
    display: flex;
    width: 100%;
    height: 80vh;
    margin-bottom: 100px;

    position: relative;

    .TraeningstiderSplash {
        width: 100%;
        height: 100%;
        background-image: url(../img/grafik/baneoversigt4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 90px;
            font-weight: 800;
            color: $primary-white;
            z-index: 2;
            margin: 24vh 0px 0px;
        }

        a {
            text-decoration: none;
            z-index: 5;
            max-width: 300px;
            width: 60%;
            margin-top: 8vh;

            button {
                font-size: 22px;
                background-color: $primary-white;
                border: none;
                color: black;
                padding: 20px 0px;
                width: 100%;
                transition: all 1s;
                cursor: pointer;
            }

            button:hover {
                background-color: #555555;
                color: $primary-white;
            }
        }

    }

    .SplashOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58)
    }

    .btnArrowDown {
        z-index: 2;
        width: 48px;
        height: 48px;
        cursor: pointer;
        margin-top: 20vh
    }
}

.flex-ContainerTraeningstider {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 200px;

    h2 {
        font-size: 48px;
        margin: 0px 0px 30px 1%;
        width: 80vw;
        max-width: 1024px;
    }

    .TraeningstiderContainer {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        width: 80vw;

        background: radial-gradient(circle, $primary-blue, $secondaryGradient-blue);
        border: 6px solid grey;
        border-radius: 3%;
        padding: 20px 30px 20px;



        .TraeningstiderHeaders {
            display: flex;
            flex-direction: row;
            color: $primary-white;
            border-bottom: 5px solid $primary-white;


            p {
                font-size: 24px;
                padding: 0% 1%;
                text-align: center;
                margin: 10px 0px;
            }

            .TraeningstiderDag {
                width: 15%;
            }

            .TraeningstiderHold {
                width: 15%;
            }

            .TraeningstiderAargang {
                width: 15%;
            }

            .TraeningstiderTid {
                width: 40%;
            }
            .TraeningstiderBane {
                width: 15%;
            }
        }

        .ContainerForInfo {
            display: flex;
            flex-direction: row;

            .TraeningstiderUgeDag,
            .TraeningstiderUHold,
            .TraeningstiderHoldsAargang,
            .TraeningstiderBaneNr {
                display: flex;
                flex-direction: column;
                width: 15%;
                color: $primary-white;

                .traeningstiderBorderBottom {
                    border-bottom: 5px solid $primary-white;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 28px;
                    padding: 0% 1%;
                    text-align: center;
                    margin: 10px 0px;
                }
            }

            .TraeningstiderTidspunkt {
                display: flex;
                flex-direction: column;
                width: 40%;
                color: $primary-white;

                .traeningstiderBorderBottom {
                    border-bottom: 5px solid $primary-white;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 28px;
                    padding: 0% 1%;
                    text-align: center;
                    margin: 10px 0px;
                }
            }
        }
    }
}

@media screen and (max-width:951px) {
    .flex-ContainerTraeningstider {

        h2 {
            font-size: 48px;
            margin: 0px 0px 30px 1%;
        }

        .TraeningstiderContainer {
            padding: 20px 10px 20px;



            .TraeningstiderHeaders {

                p {
                    font-size: 16px;
                    margin: 10px 0px;
                }
            }

            .ContainerForInfo {

                .TraeningstiderUgeDag,
                .TraeningstiderUHold,
                .TraeningstiderHoldsAargang,
                .TraeningstiderBaneNr {

                    .traeningstiderBorderBottom {
                        border-bottom: 5px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 20px;
                        padding: 0% 1%;
                        margin: 10px 0px;
                    }
                }

                .TraeningstiderTidspunkt {

                    .traeningstiderBorderBottom {
                        border-bottom: 5px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 20px;
                        padding: 0% 1%;
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:655px) {
    .flex-ContainerTraeningstiderSPlash .TraeningstiderSplash h1 {
        font-size: 50px;
    }

    .flex-ContainerTraeningstiderSPlash .TraeningstiderSplash a {
        max-width: 200px;
    }

    .flex-ContainerTraeningstider {

        h2 {
            font-size: 40px;
            margin: 0px 0px 30px 1%;
            width: 90vw;
        }

        .TraeningstiderContainer {
            padding: 10px 10px 10px;
            width: 90vw;



            .TraeningstiderHeaders {

                p {
                    font-size: 14px;
                    margin: 5px 0px;
                }
            }

            .ContainerForInfo {

                .TraeningstiderUgeDag,
                .TraeningstiderUHold,
                .TraeningstiderHoldsAargang,
                .TraeningstiderBaneNr {

                    .traeningstiderBorderBottom {
                        border-bottom: 5px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                        padding: 0% 1%;
                        margin: 5px 0px;
                    }
                }

                .TraeningstiderTidspunkt {

                    .traeningstiderBorderBottom {
                        border-bottom: 5px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                        padding: 0% 1%;
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:474px) {


    .flex-ContainerTraeningstider {

        h2 {
            font-size: 40px;
            margin: 0px 0px 30px 1%;
            width: 95vw;
        }

        .TraeningstiderContainer {
            padding: 10px 5px 10px;
            width: 95vw;

            .traeningstiderBorderBottom {
                border-bottom: 2px solid $primary-white;
                padding-bottom: 10px;
            }

            .TraeningstiderHeaders {



                p {
                    font-size: 12px;
                    margin: 5px 0px;
                }
            }

            .ContainerForInfo {

                .TraeningstiderUgeDag,
                .TraeningstiderUHold,
                .TraeningstiderHoldsAargang,
                .TraeningstiderBaneNr {

                    .traeningstiderBorderBottom {
                        border-bottom: 2px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        padding: 0% 1%;
                        margin: 5px 0px;
                    }
                }

                .TraeningstiderTidspunkt {

                    .traeningstiderBorderBottom {
                        border-bottom: 2px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        padding: 0% 1%;
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:390px) {
    .flex-ContainerTraeningstiderSPlash .TraeningstiderSplash h1 {
        font-size: 40px;
    }


    .flex-ContainerTraeningstider {

        h2 {
            font-size: 40px;
            margin: 0px 0px 30px 1%;
            width: 95vw;
        }

        .TraeningstiderContainer {
            padding: 10px 5px 10px;
            width: 95vw;

            .traeningstiderBorderBottom {
                border-bottom: 2px solid $primary-white;
                padding-bottom: 10px;
            }

            .TraeningstiderHeaders {



                p {
                    font-size: 10px;
                    margin: 5px 0px;
                }
            }

            .ContainerForInfo {

                .TraeningstiderUgeDag,
                .TraeningstiderUHold,
                .TraeningstiderHoldsAargang,
                .TraeningstiderBaneNr {

                    .traeningstiderBorderBottom {
                        border-bottom: 2px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 12px;
                        padding: 0% 1%;
                        margin: 5px 0px;
                    }
                }

                .TraeningstiderTidspunkt {

                    .traeningstiderBorderBottom {
                        border-bottom: 2px solid $primary-white;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 12px;
                        padding: 0% 1%;
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}
