* {
  box-sizing: border-box; }

.Index {
  margin: 0px;
  overflow-y: hidden; }

.LandingpageContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0px; }
  .LandingpageContent a {
    text-decoration: none; }
  .LandingpageContent .LandingpageFodboldspiller {
    background-image: url(../img/landingpage/fodboldspiller.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
    .LandingpageContent .LandingpageFodboldspiller .LandingpageOverlay {
      background-color: rgba(0, 35, 102, 0.4);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1; }
    .LandingpageContent .LandingpageFodboldspiller h2 {
      color: white;
      z-index: 2;
      font-size: 5vw;
      font-weight: 800; }
    .LandingpageContent .LandingpageFodboldspiller .FodboldspillerPunktListe {
      display: none;
      color: white;
      font-weight: 600;
      font-size: 1.5vw;
      z-index: 2;
      line-height: 2; }
  .LandingpageContent .LandingpageTraener {
    background-image: url(../img/landingpage/traener.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; }
    .LandingpageContent .LandingpageTraener .LandingpageOverlay {
      background-color: rgba(0, 35, 102, 0.4);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1; }
    .LandingpageContent .LandingpageTraener h2 {
      color: white;
      z-index: 2;
      font-size: 5vw;
      font-weight: 800; }
    .LandingpageContent .LandingpageTraener .TraenerPunktListe {
      display: none;
      color: white;
      font-weight: 600;
      font-size: 1.5vw;
      z-index: 2;
      line-height: 2; }
  .LandingpageContent .LandingpageKlubben {
    background-image: url(../img/landingpage/klubben.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; }
    .LandingpageContent .LandingpageKlubben .LandingpageOverlay {
      background-color: rgba(0, 35, 102, 0.4);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1; }
    .LandingpageContent .LandingpageKlubben h2 {
      color: white;
      z-index: 2;
      font-size: 5vw;
      font-weight: 800; }
    .LandingpageContent .LandingpageKlubben .KlubbenPunktListe {
      display: none;
      color: white;
      font-weight: 600;
      font-size: 1.5vw;
      z-index: 2;
      line-height: 2; }
  .LandingpageContent .LandingpagePraktiskInfo {
    background-image: url(../img/landingpage/praktiskInfo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; }
    .LandingpageContent .LandingpagePraktiskInfo .LandingpageOverlay {
      background-color: rgba(0, 35, 102, 0.4);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1; }
    .LandingpageContent .LandingpagePraktiskInfo h2 {
      color: white;
      z-index: 2;
      font-size: 5vw;
      font-weight: 800; }
    .LandingpageContent .LandingpagePraktiskInfo .PraktiskInfoPunktListe {
      display: none;
      color: white;
      font-weight: 600;
      font-size: 1.5vw;
      z-index: 2;
      line-height: 2; }

@media screen and (max-width: 1025px) {
  .LandingpageContent .LandingpageFodboldspiller .FodboldspillerPunktListe,
  .LandingpageContent .LandingpageTraener .TraenerPunktListe,
  .LandingpageContent .LandingpageKlubben .KlubbenPunktListe,
  .LandingpageContent .LandingpagePraktiskInfo .PraktiskInfoPunktListe {
    font-size: 2.5vw; } }
body {
  margin: 0; }

.flex-ContainerFodboldspillerSPlash {
  display: flex;
  width: 100%;
  height: 70vh;
  position: relative; }
  .flex-ContainerFodboldspillerSPlash .FodboldspillerSplash {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(../img/forside/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flex-ContainerFodboldspillerSPlash .FodboldspillerSplash h1 {
      font-size: 90px;
      font-weight: 800;
      color: white;
      z-index: 2;
      margin: 230px 0px; }
  .flex-ContainerFodboldspillerSPlash .SplashOverlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58); }
  .flex-ContainerFodboldspillerSPlash .btnArrowDown {
    z-index: 2;
    width: 48px;
    height: 48px;
    cursor: pointer; }

.flex-containerMenuer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .flex-containerMenuer .ContainerMenu {
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: wrap; }
    .flex-containerMenuer .ContainerMenu .FodboldSektion,
    .flex-containerMenuer .ContainerMenu .NyhederSektion,
    .flex-containerMenuer .ContainerMenu .EventSektion,
    .flex-containerMenuer .ContainerMenu .GalleriSektion {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 50%;
      background: radial-gradient(circle, #002366, #001E35);
      border: 2px white solid; }
      .flex-containerMenuer .ContainerMenu .FodboldSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .FodboldSektion .NyhederSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .NyhederSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .NyhederSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .NyhederSvg {
        width: 20%;
        height: 20%;
        margin-bottom: 50px; }
      .flex-containerMenuer .ContainerMenu .FodboldSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .FodboldSektion .GalleriSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .GalleriSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .GalleriSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .GalleriSvg {
        height: 37%;
        width: 20%;
        object-fit: cover; }
      .flex-containerMenuer .ContainerMenu .FodboldSektion a,
      .flex-containerMenuer .ContainerMenu .NyhederSektion a,
      .flex-containerMenuer .ContainerMenu .EventSektion a,
      .flex-containerMenuer .ContainerMenu .GalleriSektion a {
        width: 40%; }
        .flex-containerMenuer .ContainerMenu .FodboldSektion a button,
        .flex-containerMenuer .ContainerMenu .NyhederSektion a button,
        .flex-containerMenuer .ContainerMenu .EventSektion a button,
        .flex-containerMenuer .ContainerMenu .GalleriSektion a button {
          font-size: 22px;
          background-color: transparent;
          border: 2px solid white;
          color: white;
          padding: 20px 0px;
          width: 100%;
          transition: all 1s;
          cursor: pointer; }
        .flex-containerMenuer .ContainerMenu .FodboldSektion a button:hover,
        .flex-containerMenuer .ContainerMenu .NyhederSektion a button:hover,
        .flex-containerMenuer .ContainerMenu .EventSektion a button:hover,
        .flex-containerMenuer .ContainerMenu .GalleriSektion a button:hover {
          background-color: white;
          color: black; }

.flex-ContainerFodboldspillerSPlash {
  display: flex;
  width: 100%;
  height: 80vh;
  position: relative; }
  .flex-ContainerFodboldspillerSPlash .FodboldSplash {
    width: 100%;
    height: 100%;
    background-image: url(../img/fodbold/fodboldSplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flex-ContainerFodboldspillerSPlash .FodboldSplash h1 {
      font-size: 90px;
      font-weight: 800;
      color: #fbfbfb;
      z-index: 2;
      margin: 230px 0px; }
  .flex-ContainerFodboldspillerSPlash .SplashOverlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58); }
  .flex-ContainerFodboldspillerSPlash .btnArrowDown {
    z-index: 2;
    width: 48px;
    height: 48px;
    cursor: pointer; }

.flex-ContainerFodbold {
  display: flex;
  justify-content: center; }
  .flex-ContainerFodbold .ContainerFodbold {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .flex-ContainerFodbold .ContainerFodbold a {
      text-decoration: none;
      width: 33.333%;
      overflow: hidden; }
    .flex-ContainerFodbold .ContainerFodbold .Fodbold1Holdet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/1holdet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative; }
      .flex-ContainerFodbold .ContainerFodbold .Fodbold1Holdet h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .Fodbold1Holdet .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .Fodbold1Holdet:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldDrenge:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldPiger:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldSenior:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldKvindeSenior:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldVeteraner:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldTraeningTidspunkter:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldMixTeam:hover,
    .flex-ContainerFodbold .ContainerFodbold .FodboldKampeResultater:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldDrenge {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/drenge.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldDrenge h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldDrenge .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldPiger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/piger.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldPiger h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldPiger .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldSenior {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/senior.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldSenior h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldSenior .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldKvindeSenior {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/kvindeSenior.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldKvindeSenior h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldKvindeSenior .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldVeteraner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/veteraner.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldVeteraner h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldVeteraner .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldMixTeam {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/noProfilePic.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative;
      background-color: #002366; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldMixTeam h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldMixTeam .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldTraeningTidspunkter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/traeningstider.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative;
      background-color: #002366; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldTraeningTidspunkter h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldTraeningTidspunkter .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }
    .flex-ContainerFodbold .ContainerFodbold .FodboldKampeResultater {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fodbold/kampeResultater.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
      position: relative;
      background-color: #002366; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldKampeResultater h2 {
        font-size: 30px;
        color: #fbfbfb;
        z-index: 2; }
      .flex-ContainerFodbold .ContainerFodbold .FodboldKampeResultater .FodboldOverlay {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.58); }

@media screen and (max-width: 1025px) {
  .flex-ContainerFodbold .ContainerFodbold a {
    width: 50%; } }
@media screen and (max-width: 501px) {
  .flex-ContainerFodbold .ContainerFodbold a {
    width: 100%; } }
.flex-ContainerFodboldspillerSPlash {
  display: flex;
  width: 100%;
  height: 80vh;
  position: relative; }
  .flex-ContainerFodboldspillerSPlash .foorsteHoldetSplash {
    width: 100%;
    height: 100%;
    background-image: url(../img/fodbold/seniorSplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flex-ContainerFodboldspillerSPlash .foorsteHoldetSplash h1 {
      font-size: 90px;
      font-weight: 800;
      color: #fbfbfb;
      z-index: 2;
      margin: 230px 0px; }
  .flex-ContainerFodboldspillerSPlash .SplashOverlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58); }
  .flex-ContainerFodboldspillerSPlash .btnArrowDown {
    z-index: 2;
    width: 48px;
    height: 48px;
    cursor: pointer; }

.flex-ContainerSpillerMenu {
  display: flex;
  justify-content: center;
  margin: 50px; }
  .flex-ContainerSpillerMenu .SpillerMenuContainer {
    display: flex;
    border: #002366 solid 1px; }
    .flex-ContainerSpillerMenu .SpillerMenuContainer .SpillerneBtn,
    .flex-ContainerSpillerMenu .SpillerMenuContainer .StabenBtn,
    .flex-ContainerSpillerMenu .SpillerMenuContainer .StillingBtn,
    .flex-ContainerSpillerMenu .SpillerMenuContainer .KommendeKampe {
      font-size: 30px;
      border: #002366 solid 1px;
      padding: 10px 20px;
      color: black; }
    .flex-ContainerSpillerMenu .SpillerMenuContainer .SpillerMenuFokus {
      font-weight: 800; }

/*# sourceMappingURL=bundle.css.map */
