body {
  margin: 0; }

.flex-ContainerFodboldspillerSPlash {
  display: flex;
  width: 100%;
  height: 70vh;
  position: relative; }
  .flex-ContainerFodboldspillerSPlash .FodboldspillerSplash {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(../img/forside/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flex-ContainerFodboldspillerSPlash .FodboldspillerSplash h1 {
      font-size: 90px;
      font-weight: 800;
      color: white;
      z-index: 2;
      margin: 22vh 0px;
      text-shadow: 4px 4px 8px #000000; }
  .flex-ContainerFodboldspillerSPlash .SplashOverlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58); }
  .flex-ContainerFodboldspillerSPlash .btnArrowDown {
    z-index: 2;
    width: 48px;
    height: 48px;
    cursor: pointer; }
  .flex-ContainerFodboldspillerSPlash .btnArrowDown:hover {
    width: 58px;
    height: 58px; }

.flex-containerMenuer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .flex-containerMenuer .ContainerMenu {
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: wrap; }
    .flex-containerMenuer .ContainerMenu .FodboldSektion {
      background-image: url(../img/fodbold/fodboldSplash.jpg);
      object-fit: cover;
      background-image: url(../img/forside/splash.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .flex-containerMenuer .ContainerMenu .FodboldSektion,
    .flex-containerMenuer .ContainerMenu .NyhederSektion,
    .flex-containerMenuer .ContainerMenu .EventSektion,
    .flex-containerMenuer .ContainerMenu .GalleriSektion {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 50%;
      background: radial-gradient(circle, #002366, #001E35);
      border: 2px white solid; }
      .flex-containerMenuer .ContainerMenu .FodboldSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .FodboldSektion .NyhederSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .NyhederSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .NyhederSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .FodboldSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .NyhederSvg {
        width: 20%;
        height: 20%;
        margin-bottom: 50px;
        object-fit: contain; }
      .flex-containerMenuer .ContainerMenu .FodboldSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .FodboldSektion .GalleriSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .NyhederSektion .GalleriSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .EventSektion .GalleriSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .EventSvg,
      .flex-containerMenuer .ContainerMenu .GalleriSektion .GalleriSvg {
        height: 37%;
        width: 20%;
        object-fit: cover; }
      .flex-containerMenuer .ContainerMenu .FodboldSektion a,
      .flex-containerMenuer .ContainerMenu .NyhederSektion a,
      .flex-containerMenuer .ContainerMenu .EventSektion a,
      .flex-containerMenuer .ContainerMenu .GalleriSektion a {
        width: 40%; }
        .flex-containerMenuer .ContainerMenu .FodboldSektion a button,
        .flex-containerMenuer .ContainerMenu .NyhederSektion a button,
        .flex-containerMenuer .ContainerMenu .EventSektion a button,
        .flex-containerMenuer .ContainerMenu .GalleriSektion a button {
          font-size: 22px;
          background-color: transparent;
          border: 2px solid white;
          color: white;
          padding: 20px 0px;
          width: 100%;
          transition: all 1s;
          cursor: pointer; }
        .flex-containerMenuer .ContainerMenu .FodboldSektion a button:hover,
        .flex-containerMenuer .ContainerMenu .NyhederSektion a button:hover,
        .flex-containerMenuer .ContainerMenu .EventSektion a button:hover,
        .flex-containerMenuer .ContainerMenu .GalleriSektion a button:hover {
          background-color: white;
          color: black; }

@media screen and (max-width: 781px) {
  .flex-ContainerFodboldspillerSPlash .FodboldspillerSplash h1 {
    font-size: 50px; }

  .flex-containerMenuer .ContainerMenu .FodboldSektion a,
  .flex-containerMenuer .ContainerMenu .NyhederSektion a,
  .flex-containerMenuer .ContainerMenu .EventSektion a,
  .flex-containerMenuer .ContainerMenu .GalleriSektion a {
    width: 60%; }

  .flex-containerMenuer .ContainerMenu .FodboldSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .FodboldSektion .GalleriSvg,
  .flex-containerMenuer .ContainerMenu .NyhederSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .NyhederSektion .GalleriSvg,
  .flex-containerMenuer .ContainerMenu .EventSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .EventSektion .GalleriSvg,
  .flex-containerMenuer .ContainerMenu .GalleriSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .GalleriSektion .GalleriSvg {
    height: 45%;
    width: 35%; }

  .flex-containerMenuer .ContainerMenu .FodboldSektion .FodboldSvg,
  .flex-containerMenuer .ContainerMenu .NyhederSektion .NyhederSvg {
    width: 30%;
    height: 28%; } }
@media screen and (max-width: 501px) {
  .flex-containerMenuer .ContainerMenu .FodboldSektion a,
  .flex-containerMenuer .ContainerMenu .NyhederSektion a,
  .flex-containerMenuer .ContainerMenu .EventSektion a,
  .flex-containerMenuer .ContainerMenu .GalleriSektion a {
    width: 80%; }

  .flex-containerMenuer .ContainerMenu {
    height: 600px; }

  .flex-containerMenuer .ContainerMenu .FodboldSektion .FodboldSvg,
  .flex-containerMenuer .ContainerMenu .NyhederSektion .NyhederSvg {
    width: 40%;
    height: 32%;
    margin-bottom: 20px; }

  .flex-containerMenuer .ContainerMenu .FodboldSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .FodboldSektion .GalleriSvg,
  .flex-containerMenuer .ContainerMenu .NyhederSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .NyhederSektion .GalleriSvg,
  .flex-containerMenuer .ContainerMenu .EventSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .EventSektion .GalleriSvg,
  .flex-containerMenuer .ContainerMenu .GalleriSektion .EventSvg,
  .flex-containerMenuer .ContainerMenu .GalleriSektion .GalleriSvg {
    height: 50%;
    width: 64%; }

  .flex-containerMenuer .ContainerMenu .FodboldSektion a button,
  .flex-containerMenuer .ContainerMenu .NyhederSektion a button,
  .flex-containerMenuer .ContainerMenu .EventSektion a button,
  .flex-containerMenuer .ContainerMenu .GalleriSektion a button {
    padding: 10px 0px; } }
@media screen and (max-width: 415px) {
  .flex-ContainerFodboldspillerSPlash .FodboldspillerSplash h1 {
    font-size: 35px; } }

/*# sourceMappingURL=fodboldspiller.css.map */
