<template id="footer-section-tmpl">
<style>
.flex-containerFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  background: radial-gradient(circle, #002366, #001E35); }
  .flex-containerFooter .Nyhedsbrev {
    font-size: 14px;
    margin-left: 18px;
    color: #fbfbfb;
    text-align: center; }
    .flex-containerFooter .Nyhedsbrev .NyhedsBrevSpan {
      text-decoration: underline;
      cursor: pointer; }
  .flex-containerFooter .FooterTextContainer {
    display: flex; }
    .flex-containerFooter .FooterTextContainer .FooterText {
      display: flex;
      align-items: center; }
      .flex-containerFooter .FooterTextContainer .FooterText .FooterNavn {
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 800;
        margin-right: 5px;
        text-align: center; }
      .flex-containerFooter .FooterTextContainer .FooterText .FooterAdresse,
      .flex-containerFooter .FooterTextContainer .FooterText .FooterBy,
      .flex-containerFooter .FooterTextContainer .FooterText .FooterTelefon,
      .flex-containerFooter .FooterTextContainer .FooterText .FooterCVR {
        font-size: 14px;
        margin-right: 5px;
        color: #fbfbfb;
        text-align: center; }
  .flex-containerFooter .FooterSocialeMedier {
    display: flex;
    margin-right: 18px; }
    .flex-containerFooter .FooterSocialeMedier a .FooterFacebook {
      background-image: url(../img/grafik/facebookIcon.png);
      width: 38px;
      height: 38px;
      background-size: cover;
      margin: 0px 9px; }
    .flex-containerFooter .FooterSocialeMedier a .FooterFacebook:hover,
    .flex-containerFooter .FooterSocialeMedier a .FooterKampKlar:hover {
      opacity: 0.7; }
    .flex-containerFooter .FooterSocialeMedier a .FooterKampKlar {
      background-image: url(../img/grafik/KampKlar.png);
      width: 38px;
      height: 38px;
      background-size: cover;
      margin: 0px 9px; }

@media screen and (max-width: 1025px) {
  .flex-containerFooter {
    padding: 5px 0px; }
    .flex-containerFooter .Nyhedsbrev {
      font-size: 12px;
      margin-left: 10px; }
    .flex-containerFooter .FooterTextContainer .FooterText .FooterNavn {
      font-size: 12px;
      margin-right: 5px; }
    .flex-containerFooter .FooterTextContainer .FooterText .FooterAdresse,
    .flex-containerFooter .FooterTextContainer .FooterText .FooterBy,
    .flex-containerFooter .FooterTextContainer .FooterText .FooterTelefon,
    .flex-containerFooter .FooterTextContainer .FooterText .FooterCVR {
      font-size: 12px; }
    .flex-containerFooter .FooterSocialeMedier {
      margin-right: 10px; }
      .flex-containerFooter .FooterSocialeMedier a .FooterFacebook {
        background-image: url(../img/grafik/facebookIcon.png);
        width: 38px;
        height: 38px;
        background-size: cover;
        margin: 0px 9px; }
      .flex-containerFooter .FooterSocialeMedier a .FooterKampKlar {
        background-image: url(../img/grafik/KampKlar.png);
        width: 38px;
        height: 38px;
        background-size: cover;
        margin: 0px 9px; } }
@media screen and (max-width: 881px) {
  .flex-containerFooter {
    flex-direction: column;
    padding: 10px 0px; }
    .flex-containerFooter .Nyhedsbrev {
      font-size: 20px;
      margin: 30px 0px 30px; }
    .flex-containerFooter .FooterTextContainer .FooterText {
      flex-direction: column; }
      .flex-containerFooter .FooterTextContainer .FooterText .HideOnMobile {
        display: none; }
      .flex-containerFooter .FooterTextContainer .FooterText .FooterNavn {
        font-size: 20px;
        margin: 0px 0px 15px; }
      .flex-containerFooter .FooterTextContainer .FooterText .FooterAdresse,
      .flex-containerFooter .FooterTextContainer .FooterText .FooterBy,
      .flex-containerFooter .FooterTextContainer .FooterText .FooterTelefon,
      .flex-containerFooter .FooterTextContainer .FooterText .FooterCVR {
        font-size: 20px;
        margin: 0px 0px 10px; }
    .flex-containerFooter .FooterSocialeMedier {
      margin: 30px 0px 0px; }
      .flex-containerFooter .FooterSocialeMedier a .FooterFacebook {
        background-image: url(../img/grafik/facebookIcon.png);
        width: 68px;
        height: 68px;
        background-size: cover;
        margin: 0px 9px; }
      .flex-containerFooter .FooterSocialeMedier a .FooterKampKlar {
        background-image: url(../img/grafik/KampKlar.png);
        width: 68px;
        height: 68px;
        background-size: cover;
        margin: 0px 9px; } }
     
</style>
 
  <footer>
        <div class="flex-containerFooter">
            <p class="Nyhedsbrev">Tilmeld dig vores <span class="NyhedsBrevSpan">nyhedbrev</span></p>
            <div class="FooterTextContainer">
                <div class="FooterText">
                    <p class="FooterNavn">Nivå-Kokkedal FK</p>
                    <p class="FooterAdresse">Karsemosegård Idrætsanlæg Møllevej 4 <span class="HideOnMobile">·</span></p>
                    <p class="FooterBy">DK 2990 Nivå <span class="HideOnMobile">·</span></p>
                    <p class="FooterTelefon">Tlf: 30 11 91 00 <span class="HideOnMobile">·</span></p>
                    <p class="FooterCVR">CVR: 19525236</p>
                </div>
            </div>
            <div class="FooterSocialeMedier">
                <a href="#" target="_blank">
                    <div class="FooterFacebook"></div>
                </a>
                <a href="#" target="_blank">
                    <div class="FooterKampKlar"></div>
                </a>
            </div>
        </div> 
    </footer>
</template>

<script>
    (function() {
        let thisImportDoc = document.currentScript.ownerDocument;

        class FooterSection extends HTMLElement {
            constructor() {
                super();
            }

            static get template() {
                if (!this._template) {
                    this._template = thisImportDoc.querySelector("#footer-section-tmpl");
                }
                return this._template;
            }

            connectedCallback() {
                //				console.log("Navbar på siden");

                let shadowRoot = this.attachShadow({
                    mode: "open"
                });

                let tmpl = FooterSection.template;
                shadowRoot.appendChild(document.importNode(tmpl.content, true));

                // custom javascript start


                // custom javascript slut

                const supportsNativeShadowDom = !!HTMLElement.prototype.attachShadow;
                if (!supportsNativeShadowDom) {
                    ShadyCSS.applyStyle(this);
                }
            }

            disconnectedCallback() {
                console.log("Navbar ikke på siden");
            }

            adoptedCallback() {
                console.log("Navbar adopted in page");
            }

            attributeChangedCallback(name, oldValue, newValue) {
                console.log("footer attr: " + name + " changed from '" +
                    oldValue + "' to '" + newValue + "'");
            }
        }

        ShadyCSS.prepareTemplate(FooterSection.template, "footer-section");
        customElements.define("footer-section", FooterSection);

    })();

</script>
